#more {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
    font-size: 50px;
    font-weight: 900;
    padding-left: 15%;
   }
.header{
    background-color: rgb(230, 230, 230);
    padding-right: 30px;
    font-size:x-large ;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: right;
}
h1{
    background-color: black;
    color: white;
   
}
ul h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
    font-size: 50px;
    font-weight: 900;
    padding-left: 5%;
}
a{
    color: black;
}
#bike{
   
    margin-right: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
    font-size: 40px;
}
.intro{
    
    font-family: 'News Cycle', sans-serif;
    font-size: larger;  
    float: left;
    margin-left: 50px;    
    font-weight: 50px;
}
#first{
    font-size: 30px;
}
#top-ten{
    font-family: Verdana, Geneva, Tahoma, sans-serif;   
    font-weight: bold;
    font-size: 30px;
    text-align: center;
}
ol{
    display: inline;
    font-family: Verdana, Geneva, Tahoma, sans-serif;   
    font-size: 30px;
    font-style: italic;
    text-align: center;
}
ul img {
    margin-top: 2%;
    margin-left: 10%;
    border-radius: 50%;
    filter: contrast();
    border-right: 0px;
    filter: grayscale();
}
figure img {
    margin-left: 48%;
    border-radius: 50%;
    filter: grayscale();
}
#back {
    text-decoration: none;
   }
#info{
    margin: 20px 20px 0px 0px;
}
#rectangle{
    height: 72px;
    background-color: rgb(230, 230, 230);
    margin-bottom: 0%;
}
