
body{
    background-color: rgb(180, 211, 221);
}
.header{
    margin-right: 30px;
    font-size:x-large ;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: right;
}
h1{
    margin-left: 30px;
    font-style: italic;
    text-align: left;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
    font-weight: 900;
}
#bike{
   
    margin-right: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
    background-color: blueviolet;
    font-size: 40px;
}
.intro{
   
  
    margin-left: 0px;
   
    margin-right: 50px;
    font-weight: 25px;
    background-color: yellowgreen;
    font-family: Verdana, Geneva, Tahoma, sans-serif;    
    margin-top: 0px;
    text-align: left;
    font-size: 30px;
}
#first{
    margin-bottom: 0%;
margin-right: 0%;
padding-left: 50px;
margin-left: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 30px;
    background-color: rgb(56, 135, 255);
}
#top-ten{
    font-weight: bold;
    text-shadow: 10px 5px 5px rgb(71, 120, 255);
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;  
    text-align: center;
}
ol{
    font-family: Verdana, Geneva, Tahoma, sans-serif;   
    font-size: 30px;
    font-style: italic;
    text-align: center;
}