
#more {
    padding-left : 250px;
   }
.header{
    background-color: rgb(230, 230, 230);
    padding-right: 30px;
    font-size:x-large ;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: right;
}
h1{
    padding-left: 10%;
    background-color: black;
    color: white;
    font-style: italic;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
    font-weight: 900;
}
#bike{
   
    margin-right: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
    font-size: 40px;
}
.intro{
    
    font-family: 'News Cycle', sans-serif;
    font-size: larger;  
    float: left;
    margin-left: 50px;    
    font-weight: 50px;
}
#first{
    margin: 0px;
    padding-left: 50px;
    padding-top: 0px;
    padding-bottom: 20px;
    font-size: 30px;
}
#top-ten{
    font-family: Verdana, Geneva, Tahoma, sans-serif;   

    margin-top: 50px;
    font-weight: bold;
    font-size: 30px;
   
    text-align: center;
}
ol{
    display: inline;
    font-family: Verdana, Geneva, Tahoma, sans-serif;   
    font-size: 30px;
    font-style: italic;
    text-align: center;
}
img{
    border-radius: 50%;
    filter: contrast();
    border-right: 0px;
    margin-left: 150px;
    margin-top: 30px;
    filter: grayscale();
}
#back {
    color: black;
    text-decoration: none;
}
#unrwa {
    color-adjust:  rgb(0, 146, 243) ;
    text-decoration: none;
}
a:hover{
    color: rgb(0, 146, 243);
}

#info{
    margin: 20px 20px 0px 0px;
}
#rectangle{
    height: 72px;
    background-color: rgb(230, 230, 230);
    margin-bottom: 0%;

}